.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6px;
    height: 100px;
    margin: 15px;
    padding:0 5px
}

.logo{
    width: 95px;
    /* margin: 15px; */
}


.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 25px;
    
}

.nav-items > ul > li{
    margin: 15px 35px 35px 35px;
    /* margin : 10px; */
} 
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    
    width: 200px;
    
    margin: 15px;
    
    border-radius: 6px;
    padding: 7px;
    background-color: aliceblue;


}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.filter{
    margin: 15px;
}

.filter-btn{
margin: 0 10px;
cursor: pointer;
}

.res-img{
    /* height:50%; */
    width: 100%;
    /* border: 0.5px solid black;
    border-radius: 6px; */
    
}
